@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-light-bg: #FFFFFF;
    --color-light-accent: #3B82F6;
    --color-: #2563EB;
    --color-dark-bg: #111827;
    --color-dark-accent-hover: #3B82F6;
    --color-dark-error: #F87171;
    --color-dark-border: #374151;
}

/* در فایل globals.css یا styles.css */
@layer components {
    .btn-group > button {
        @apply flex items-center cursor-pointer hover:scale-105 py-1.5 rounded-md px-2.5 justify-center gap-2;
        :active @apply bg-white
    }
}
* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}